.add_recipe__display {
    display:flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
}

.main {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.back__button {
    margin-top: 53px;
    align-self:flex-start;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #FDB100;
}

.header {
    display: inline-flex;
    width: 100%;
    justify-content: center;
}

.header__text {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 42px;
    line-height: 62px;
    color: #25292D;

    width: 100%;
}

.header__button {
    width: 278px;
    height: 60px;
    left: 1042px;
    top: 160px;
    background: #FDB100;
    border-radius: 16px;
}

.header__button__text {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    color: #FFFFFF;
}

.main_tab {
    height: 430px;
    display: inline-flex;
    
    width: 100%;
    justify-content: space-between;
    justify-self: center;
    align-items: center;

    background: #FFFFFF;
    box-shadow: 0px 16px 72px rgba(34, 39, 47, 0.05);
    border-radius: 72px 0px;
}

.main_tab__image {
    width: 430px;
    height: 430px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background: linear-gradient(0deg, #FFEFCC, #FFEFCC), #FFFCF7;
    border-radius: 72px 0px;
}

.main_tab__image__inside_block {
    border: 1px dashed #F29E1F;
    border-radius: 20px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 269px;
    height: 269px;
    margin: 90px;
}

.image__inside_block__text {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #F29E1F;
}

.main_tab__text {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: space-around;
    align-items: center;
}

.form_field__full_width {
    width: 80%;
}

.main_tab__text__last_element {
    width: 80%;
    display: inline-flex;
    justify-content: space-between;
}
/* mat-form-field {
    border: 1px solid rgba(145, 150, 161, 0.4);
    border-radius: 16px; 
    width: 80%;
} */

.info_tab {
    display: inline-flex;
    width: 100%;
    margin-top: 40px;
    justify-content: space-between;
}

.info_tab__ingridients {
    width: 380px;
    display: flex;
    flex-direction: column;
}

.ingridients__text {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    text-transform: capitalize;
    color: #4A525A;
}

.exit_button {
    display: inline-flex;
    width: 100%;
    height: 14px;
    flex-direction: row-reverse;
}

.remove_last_ingridient__button {
}

.add__button {
    box-sizing: border-box;
    width: 380px;
    height: 60px;
    border: 1px solid #FDB100;
    border-radius: 16px;

    display: inline-flex;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    color: #FDB100;

    justify-content: center;
    align-items: center;
}

.add__button__plus {
    margin-right: 54px;
    font-size: 24px;
}

.info_tab__steps {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.info_tab__step {
    max-width: 1200px;
    width: 100%;
    align-self:flex-end;
}