<div class="search">
    <div class="search__header">Поиск рецептов</div>
    <div class="search__text">Введите примерное название блюда, а мы по тегам найдем его</div>
    <div class="search__div">
        <div class="search_div__box">
            <div class="search__field">
                <input type="text" size="40" class="field__textbox" placeholder="Название блюда...."/>
                <button class="field__button">Поиск</button>
            </div>
            <div class="search__tag">
                <app-search-tag  *ngFor="let tag of tags" [tag]="tag"></app-search-tag>
            </div>
        </div>
    </div>
</div>