<div class="ingridient">
    <mat-form-field class="ingridient__header" appearance="fill">
        <mat-label>Заголовок для ингридиента</mat-label>
        <input matInput #message maxlength="256" placeholder="Например: Клубничная панна-кота">
    </mat-form-field>
    <mat-form-field class="ingridient__text" appearance="fill">
        <mat-label>Список продуктов для категории</mat-label>
        <textarea matInput #message maxlength="256" placeholder="Например: Клубничная панна-кота"></textarea>
    </mat-form-field>
</div>