<div class="ingridient" *ngIf="!((this.ingridient === null) || (this.ingridient === undefined))">
    <mat-form-field class="ingridient__header" appearance="fill">
        <mat-label>Заголовок для ингридиента</mat-label>
        <input matInput #message maxlength="256" name="ingridientName" [(ngModel)]="this.ingridient!.name" placeholder="Например: Клубничная панна-кота">
    </mat-form-field>
    <mat-form-field class="ingridient__text" appearance="fill">
        <mat-label>Список продуктов для категории</mat-label>
        <textarea matInput #message maxlength="256" name="ingridientDescription" [(ngModel)]="this.ingridient!.products" placeholder="Например: Молоко: 300 мл."></textarea>
    </mat-form-field>
</div>