<div class="login">
    <div mat-dialog-close class="login__close_button"></div>
    <div mat-dialog-title class="login__header">{{title}}</div>
    <div mat-dialog-content class="login__text" *ngIf="isShowText">{{text}}</div>
    <div class="login__buttons" *ngIf="isShowText">
        <button class="login__button__auth" (click)="loginClick()">Войти</button>
        <button class="login__button__register" (click)="registerClick()">Регистрация</button>
    </div>
    <form class="authorize" *ngIf="isShowLoginPage">
        <mat-form-field class="example-full-width input_field" appearance="fill">
            <mat-label>Логин</mat-label>
            <input matInput placeholder="Введите логин" name="login" [(ngModel)]="this.user.Login">
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Пароль</mat-label>
            <input matInput [type]="hide ? 'password' : 'text'" name="password" placeholder="Введите пароль" [(ngModel)]="this.user.Password">
        </mat-form-field>
        <div class="login__buttons">
            <button class="login__button__auth" (click)="loginPostClick()">Войти</button>
            <button class="login__button__register" mat-dialog-close>Отмена</button>
        </div>
    </form>
    <form class="authorize" *ngIf="isShowRegisterPage">
        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Имя</mat-label>
            <input matInput placeholder="Введите имя" name="name" [(ngModel)]="this.user.Username">
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Логин</mat-label>
            <input matInput placeholder="Введите логин" name="login" [(ngModel)]="this.user.Login">
        </mat-form-field>
        <div class="registration__password">
            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Пароль</mat-label>
                <input matInput name="password" [type]="hide ? 'password' : 'text'" placeholder="Введите пароль" [(ngModel)]="this.user.Password">
            </mat-form-field>
            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Повторите пароль</mat-label>
                <input matInput name="checkPassword" [type]="hide ? 'password' : 'text'" placeholder="Введите пароль" [(ngModel)]="this.passwdConfirm">
            </mat-form-field>
        </div>
        <div class="login__buttons">
            <button class="login__button__auth" (click)="registerPostClick()">Зарегистрироваться</button>
            <button class="login__button__register" mat-dialog-close>Отмена</button>
        </div>
    </form>
</div>