.login
{
    display: flex;
    flex-direction: column;
    align-items: stretch;

    background: #FFFFFF;
    box-shadow: 0px 16px 72px rgba(34, 39, 47, 0.05);
    border-radius: 24px;

    padding: 24px 60px 60px 60px;

    min-width: 700px;
}

 .login__close_button
{
    height: 16px;
    background: url(/assets/images/CloseCross.svg) top right no-repeat;  
}

.login__header
{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    color: #25292D;
}

.login__text
{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    font-feature-settings: 'case' on;
    color: #4A525A;
    margin-top: 30px;
}

.login__buttons
{
    margin-top: 40px;
    display: inline-flex;
    justify-content:space-between;
    height: 60px;
}

.login__button__auth
{
    background: #FDB100;
    border-radius: 16px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    flex-grow: 1;
    text-align: center;

    color: #FFFFFF;
}

.login__button__register
{
    border: 1px solid #FDB100;
    border-radius: 16px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    text-align: center;
    background-color: #FFFFFF;
    flex-grow: 1;
    color: #FDB100;
}

.authorize
{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.input_field
{
    box-sizing: border-box;
    border: 1px solid rgba(145, 150, 161, 0.4);
    border-radius: 16px;
}

.registration__password
{
    display: inline-flex;
    justify-content: space-between;
}