.recipe
{
    display: inline-flex;
    justify-content: space-between;
    background-color: white;
    border-radius: 72px 24px 24px 24px;
}

.recipe__position
{
    display: flex;
    justify-self: center;
    align-self: center;
}

.recipe__margins
{
    margin-top: 40px;
    margin-left: 120px;
    margin-right: 120px;
    margin-bottom: 40px;
}

.recipe__image
{
    max-width: 430px;
    max-height: 430px;
    border-radius: 72px 0px;
    flex-grow: 2;
}

.recipe__image__size {
    max-height: 430px;
}

.space_between_flex {
    width: 53px;
}

.recipe__text_info
{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-grow: 4;
}

.text_info__info
{
    display: inline-flex;
    justify-content: space-between;
}

.info__tags
{
    
    display: flex;
    align-items: center;
    flex-grow: 5;
}

.tags__tag
{
    width: 90px;
    text-align: center;
    background: #FDB100;
    border-radius: 5px;
    margin: 5px;
}

.tag__text_style
{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 30px;
    opacity: 214.0;
    color: red;
}

.info__stars
{
    box-sizing: border-box;
    width: 107px;
    height: 50px;
    
    border: 1px solid #FDB100;
    border-radius: 16px;

    display: inline-flex;
    justify-content: center;
    align-items: center;

    margin-right: 15px;
    margin-top: 36px;
}

.info__likes
{
    box-sizing: border-box;
    width: 107px;
    height: 50px;
    border: 1px solid #FDB100;
    border-radius: 16px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-right: 30px;
    margin-top: 36px;
}

.info__stars__star_frame
{
    width: 20px;
    height: 20px;
    margin-right: 14px;
    background: url(/assets/images/Star.svg) center center no-repeat;
}

.info__start__count
{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    text-align: center;
    color: #FDB100;
}

.info__likes__frame
{
    width: 20px;
    height: 20px;
    margin-right: 14px;
    background: url(/assets/images/LikeOrange.svg) center center no-repeat;
}

.info__likes__count
{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    text-align: center;
    color: #FDB100;
}

.text_info__header
{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    text-transform: capitalize;
    color: #25292D;    
}

.text_info__description
{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #4A525A;
}

.text_info__time_and_persons
{
    display: inline-flex;
    justify-content: space-between;
}

.time_and_persons__time
{
    display: inline-flex;
    justify-content: space-between;
}

.time__image
{
    width: 48px;
    height: 56px;
    background: url(/assets/images/Clock.svg) center center no-repeat;
    margin-right: 20px;
}

.info__text_style
{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 28px;
    color: #25292D;
    opacity: 0.5;
}

.info__time_style
{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #25292D;
}

.info__person_style
{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #25292D;
}

.person__image
{
    width: 59px;
    height: 37px;
    background: url(/assets/images/Persons.svg) center center no-repeat;
    margin-right: 20px;
}

.time_and_persons__persons
{
    display: inline-flex;
    align-items: center;
}