.header {
    margin-top: 90px;
    display: inline-flex;
    justify-content: center;
    width: 100%;
}

.header__text {
    width: 72.5%;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 42px;
    line-height: 62px;
    color: #25292D;
}

.header__button_add {
    width: 278px;
    height: 60px;
    left: 1042px;
    top: 160px;

    background: #FDB100;
    border-radius: 16px;
}

.header__button_add__text {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    color: #FFFFFF;
}

.receipes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100%;
}

.receipes__search {
    display: inline-flex;
    width: 100%;
    justify-content: space-around;
}

.receipes__search__text {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    color: #25292D;

    margin-top: 57px;
    width: 250px;
}

.recipe__load {
    width: 309px;
    border: 1px solid #FDB100;
    border-radius: 16px;
    box-sizing: border-box;
    height: 60px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #FDB100;

    margin-bottom: 108px;
}