<div class="receipes">
    <div class="header">
        <div class="header__text">Рецепты</div>
        <button class="header__button_add header__button_add__text" (click)="GotoAddRecipe()">
            + Добавить рецепт
        </button>
    </div>
    <app-smart-info style="width: 100%" [isShowFullCardInfo]="false"></app-smart-info>
    <div class="receipes__search">
        <div class="receipes__search__text">Поиск рецепта</div>
        <app-search style="width: 100%; margin-top: -157px;" [isShowHeaderText]="false"></app-search>
    </div>
    <app-expanded-smart-info-card *ngFor="let recipe of recipes" [recipe]="recipe" (click)="ViewRecipe(recipe.Id)" style="width: 100%;"></app-expanded-smart-info-card>
    <button class="recipe__load">Загрузить еще</button>
</div>