<div class="recomendation">
    <div class="recomendation__text">
        <div class="text__header">Готовь и делись рецептами</div>
        <div class="text__main_text">Никаких кулинарных книг и блокнотов! Храни все</div>
        <div class="text__main_text">любимые рецепты в одном месте</div>
        <div class="recomendation__buttons">
            <button class="button__add_receipe" [routerLink]="'add-recipe'">+ Добавить рецепт</button>
            <button class="button__login" (click)="login()">Войти</button>
        </div>
    </div>
    <!-- <div class="recomendation__image">
         <img [src]="recomendationImage" class="recomendation__image__width"/> 
    </div> -->
</div>